<div class="row dd-holder">
    <div class="col-md-3">
        <select ng-model="season" ng-options="season as season.Name for season in seasons | orderBy:['-Priority']" class="form-control" ng-change="seasonOptionChanged()"></select>
    </div>
    <div class="col-md-4 col-xs-6 hidden-xs">
        <label class="col-md-6">קבוצה</label>
        <div class="col-md-6">
            <select ng-model="team" ng-options="team as team.Name for team in teams" class="form-control" ng-change="getSeasonTeamPlayers()"></select>
        </div>
    </div>
</div>

    <div id="match-wrapper">
        <div class="row">
            <div class="col-md-5 col-xs-5">
                <label class="col-md-12" ng-repeat="role in teamSeasonPlayers">
                    <input type="checkbox" data-checklist-model="users" data-checklist-value="role"> {{role.Name}}
                </label>
            </div>
        </div>
    </div>
    <div>
        {{users}}
    </div>
    <a ng-click="test()">
        pkak
    </a>
